<h1>Mongo Scraper</h1>
  {{#each articles}}
 
    <div class="card w-100" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Title:{{this.title}}</h5>
    
          <p class="card-text">Summary:{{this.summary}}</p>
          <p class="card-text">Link:{{this.link}}</p>
          <p class="card-text">Date:{{this.dateCreated}}</p>
            <button class='btn btn-primary' data-id='{{this._id}}'>Save</button>
            <button class='btn btn-primary' data-id='{{this._id}}'>Delete</button>
            <button class='btn btn-primary' data-id='{{this._id}}'data-toggle='modal' data-target='#scrape-modal' >Note</button>
      </div>
    </div>
</div>

    <div id="notes"></div>
  
{{/each}}